<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div id="client_form">
  <div class="client-data">
      <div class="data">
          <%= form.label :orgin_id, "Shipment Origin" %>
          <%= form.collection_select :origin_id, Airport.order(:city_code), :id, :city_code, include_blank: "Select Origin" %>
          <%= form.collection_select :destination_id, Airport.order(:city_code), :id, :city_code, include_blank: "Select Destination" %>
          <%= form.collection_select :airplane_id, Airplane.order(:plane_name), :id, :plane_name, include_blank: "Select Plane" %><br>
          <p>Your Full Name:</p> <div class="data-value"><%= form.text_field :client_name %></div>
          <p>Email:</p> <div class="data-value"><%= form.email_field :client_email %></div>
          <p>Description:</p> <div class="data-value"><%= form.text_field :description %></div>
          <p>Weight:</p> <div class="data-value"><%= form.number_field :weight, id: "orderWeight" %></div>
          <%= link_to 'Estimate Cost', "/est_cost/", remote: true %>
          <%= form.number_field :cost, id: "estimatedCost" %>
          <p>Start:</p> <div class="data-value"><%= form.text_field :start_time, style: "width: 150px; height: 50px;", value: Time.now %></div>
          <p>End:</p> <div class="data-value"><%= form.text_field :start_time, style: "width: 150px; height: 50px;", value: Time.now + 2.days %></div>
      <div class="data">
      </div>
  </div>
  <%= form.submit %>
</div>

<% end %>


<!--
t.string "client_name"
t.string "client_email"
t.string "description"
t.bigint "origin_id"
t.bigint "destination_id"
t.decimal "weight"
t.decimal "cost"
t.datetime "start_time"
t.datetime "end_time"
-->
