<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form">
  <div id="client_form">
    <%= form.label :client_name, "Your Full Name:" %>
    <%= form.text_field :client_name %>
    <br>
    <%= form.label :client_email, "Your Email:" %>
    <%= form.email_field :client_email %>
    <br>
    <%= form.label :description, "Description of Items:" %>
    <%= form.text_field :description %>
    <br>
    <%= form.label :orgin_id, "Shipment Origin:" %>
    <%= form.collection_select :origin_id, Airport.order(:city_code), :id, :city_code, include_blank: "Select Origin" %>
    <br>
    <%= form.label :destination_id, "Shipment Destination:" %>
    <%= form.collection_select :destination_id, Airport.order(:city_code), :id, :city_code, include_blank: "Select Destination" %>
    <br>
    <%= form.label :airplane_id, "Airplane:" %>
    <%= form.collection_select :airplane_id, Airplane.order(:plane_name), :id, :plane_name, include_blank: "Select Plane" %>
    <br>
    <%= form.label :weight, "Weight of Items:" %>
    <%= form.number_field :weight, id: "orderWeight" %>
    <br>
    <%= form.label :cost, "Total Cost: $ " %>
    <%= form.number_field :cost, id: "estimatedCost" %>
    <%= link_to 'Click here for Estimated Cost', "/est_cost/", remote: true %>
    <br>
    <%= form.label :start_time, "Order Received:" %>
    <%= form.text_field :start_time, style: "width: 150px; height: 20px;", value: Time.now %>
    <br>
    <%= form.label :end_time, "*Order Delivered:" %>
    <%= form.text_field :end_time, style: "width: 150px; height: 20px;", value: Time.now + 2.days %>
    <p>*All deliveries are guaranteed 48 hour delivery</p>
  </div>
  <%= form.submit "Submit" %>
</div>
<% end %>
