<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="client_form">

    <div class="client-data">
        <div class="data">
            <div class="data-label"><%= label(:client_name, "Make Your Order") %></div>
            <p>Your Full Name:</p> <div class="data-value"><%= form.text_field :client_name %></div>
            <p>Email:</p> <div class="data-value"><%= form.email_field :client_email %></div>
            <p>Description:</p> <div class="data-value"><%= form.text_field :description %></div>
            <p>Origin:</p> <div class="data-value"><%= form.text_field :origin_id %></div>
            <p>Destination:</p> <div class="data-value"><%= form.text_field :destination_id %></div>
            <p>Weight:</p> <div class="data-value"><%= form.text_field :weight %></div>

        </div>
        <div class="data">
            <input type="button" id="cancel-client" class="button_1" value="cancel">
        </div>
    </div>

    <%= form.submit %>
  </div>

<% end %>


<!--
t.string "client_name"
t.string "client_email"
t.string "description"
t.bigint "origin_id"
t.bigint "destination_id"
t.decimal "weight"
t.decimal "cost"
t.datetime "start_time"
t.datetime "end_time"
-->
