<h1>Current Orders</h1>
<table>
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Client Name</th>
      <th>Client Name</th>

    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <div class="jobsbox">
          <td><%= job[:client_name] %></td>

          <p><%= job[:client_email] %>
          <% airportStart = Airport.find(job[:origin_id]) %>
          <% airportEnd = Airport.find(job[:destination_id]) %>
          <p>Origin:<%= airportStart[:city_code] %></p>
          <p>Destination:<%= airportEnd[:city_code]  %></p>
          <p>Email:</p><%= job[:client_email] %>
          <p>Description:</p><%= job[:description] %>
          <p>Weight:</p><%= job[:weight] %>
          <p>Total Cost:</p><%= job[:cost] %>

        <% if current_user %>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </div>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
