<p id="notice"><%= notice %></p>
  <% airportStart = Airport.find(@job[:origin_id]) %>
  <% airportEnd = Airport.find(@job[:destination_id]) %>
  <p>Origin:<%= airportStart[:city_code] %></p>
  <p>Destination:<%= airportEnd[:city_code]  %></p>
  <p>Order by:<%= @job[:client_name] %></p>
  <p>Email:<%= @job[:client_email] %></p>
  <p>Description:<%= @job[:description] %></p>
  <p>Weight:<%= @job[:weight] %></p>
  <p>Total Cost:<%= @job[:cost] %></p>
  <% if current_user %>
    <%= link_to 'Edit', edit_job_path(@job) %>
  <% end %>
