<h2>All Airplanes</h2>
<% if current_user %>
  <%= link_to 'Step: 1 Upload a Airplane Photo', new_photo_path, class: "button_link_to" %>
  <%= link_to 'Step 2: Add Airplane to Database', new_airplane_path, class: "button_link_to" %>
<% end %>
<br> <br>

<% @airplanes.each do |airplane| %>
  <% photo = Photo.find(airplane[:photo_id]) %>
  <div class="planeInfo">
    <h3 class="planeText"><%= airplane[:plane_name] %></h3> |
    <p class="planeText">Capacity: <%= airplane[:capacity] %> kgs </p> |
    <p class="planeText"><%= link_to 'Edit', edit_airplane_path(airplane), class: "link_to" %></p> |
    <p class="planeText"><%= link_to 'Delete', airplane, method: :delete, data: { confirm: 'Are you sure?' }, class: "link_to" %></p>
    <br>
    <%= link_to image_tag(photo.image.url, class: 'media-object'), photo.image.url, target: '_blank' %>
  </div>
  <br>
<% end %>
<br>
<div>
  <%= link_to 'Top', "/top_page/", remote: true, class: "top_page" %>
</div>
