<h2>All Employees</h2>
<div class="tableDiv">
  <table>
    <thead>
      <tr>
        <th>Employee No.</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Username</th>
        <th>Password</th>
        <th>Employee Since</th>
        <th>Updated</th>
        <th>Last Log In</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="allusers">
          <td>00<%= user[:id] %></td>
          <td><%= user[:firstname] + " " + user [:lastname] %></td>
          <td><%= user[:email] %></td>
          <td><%= user[:username] %></td>
          <td></td>
          <td><%= user[:created_at] %></td>
          <td><%= user[:updated_at] %></td>
          <td><%= user[:last_sign_in_at] %></td>
          <% if current_user[:id] == user[:id]%>
            <td><%= link_to 'Edit', edit_user_registration_path, class: "link_to" %></td>
            <td><%= link_to 'Destroy', user_registration_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "link_to" %></td>
          <% else %>
          <td></td>
          <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
