<p id="notice"><%= notice %></p>
<h1>All Airports</h1>
<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= airport[:city_code] %></td>
        <td> </td>
        <td><%= link_to 'Edit', edit_airport_path(airport) %></td>
        <td><%= link_to 'Delete', airport_path(airport), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add an Airport', new_airport_path %>
