<!DOCTYPE html>
<html>
  <head>
    <title>DeviceProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- not logged in  -->
    <ul id="nav">
      <% if !current_user %>
        <li class="navigation"><%= link_to "Home", home_path %></li>
        <li class="navigation"><%= link_to "Sign up", new_user_registration_path %></li>
        <li class="navigation"><%= link_to "Employee Sign in", new_user_session_path %></li>
        <li class="navigation"><%= link_to 'Create New Order', new_job_path %></li>
        <li class="navigation"><%= link_to 'Check Status', check_status_path %></li>
      <% else %>
        <li class="navigation"><%= link_to "Main Page", home_path %></li>
        <li class="navigation"><%= link_to 'Create New Order', new_job_path %></li>
        <li class="navigation"><%= link_to "All Orders", jobs_path %></li>
        <li class="navigation"><%= link_to 'View/Create New Airport', airports_path %></li>
        <li class="navigation"><%= link_to "View/Create New Airplane", airplanes_path %></li>
        <li class="navigation"><%= link_to "All Employees", users_path %></li>
        <li class="navigation"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <div id="c_user_email">Currently Signed In: <%= current_user.email %></div>
      <% end %>
    </ul>
    <div class="section">
      <p class="notice"><%= notice %></p>
      <%= yield %>
    </div>
 	<footer class="section">
    <hr>
    <p> &copy; 2017 So Fly</p>
    <!-- HTML usually doesn't recognize symbols like a copyright sign, so there is special syntax to use -->
  </footer>
  </body>
</html>
